<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @relacao_produto.produto.nome %>
</p>

<p>
  <strong>Camara troca:</strong>
  <%= @relacao_produto.camara_troca.nome %>
</p>

<%= link_to 'Edit', edit_relacao_produto_path(@relacao_produto) %> |
<%= link_to 'Back', relacao_produtos_path %>
